<!DOCTYPE html>

<title>New Brand</title>

{% block body %}
    <h1>Create new Brand</h1>

    {{ include('brand/_form.html.twig') }}

    <a href="{{ path('brand_index') }}">back to list</a>
{% endblock %}
